@define-color borders_breeze #320d45;
@define-color content_view_bg_breeze #000918;
@define-color error_color_backdrop_breeze #ed254e;
@define-color error_color_breeze #ed254e;
@define-color error_color_insensitive_backdrop_breeze #4f1229;
@define-color error_color_insensitive_breeze #4f1229;
@define-color insensitive_base_color_breeze #000917;
@define-color insensitive_base_fg_color_breeze #124e64;
@define-color insensitive_bg_color_breeze #000917;
@define-color insensitive_borders_breeze #110a26;
@define-color insensitive_fg_color_breeze #530f62;
@define-color insensitive_selected_bg_color_breeze #000917;
@define-color insensitive_selected_fg_color_breeze #530f62;
@define-color insensitive_unfocused_bg_color_breeze #000917;
@define-color insensitive_unfocused_fg_color_breeze #530f62;
@define-color insensitive_unfocused_selected_bg_color_breeze #000917;
@define-color insensitive_unfocused_selected_fg_color_breeze #530f62;
@define-color link_color_breeze #fa1bf8;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #71f79f;
@define-color success_color_breeze #71f79f;
@define-color success_color_insensitive_backdrop_breeze #265844;
@define-color success_color_insensitive_breeze #265844;
@define-color theme_base_color_breeze #000918;
@define-color theme_bg_color_breeze #000918;
@define-color theme_button_background_backdrop_breeze #000918;
@define-color theme_button_background_backdrop_insensitive_breeze #000917;
@define-color theme_button_background_insensitive_breeze #000917;
@define-color theme_button_background_normal_breeze #000918;
@define-color theme_button_decoration_focus_backdrop_breeze #fa1bf8;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #530f62;
@define-color theme_button_decoration_focus_breeze #fa1bf8;
@define-color theme_button_decoration_focus_insensitive_breeze #530f62;
@define-color theme_button_decoration_hover_backdrop_breeze #fa1bf8;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #530f62;
@define-color theme_button_decoration_hover_breeze #fa1bf8;
@define-color theme_button_decoration_hover_insensitive_breeze #530f62;
@define-color theme_button_foreground_active_backdrop_breeze #fa1bf8;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #530f62;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #530f62;
@define-color theme_button_foreground_backdrop_breeze #7640ff;
@define-color theme_button_foreground_backdrop_insensitive_breeze #271b64;
@define-color theme_button_foreground_insensitive_breeze #271b64;
@define-color theme_button_foreground_normal_breeze #7640ff;
@define-color theme_fg_color_breeze #fa1bf8;
@define-color theme_header_background_backdrop_breeze #000918;
@define-color theme_header_background_breeze #000918;
@define-color theme_header_background_light_breeze #000918;
@define-color theme_header_foreground_backdrop_breeze #fa1bf8;
@define-color theme_header_foreground_breeze #fa1bf8;
@define-color theme_header_foreground_insensitive_backdrop_breeze #fa1bf8;
@define-color theme_header_foreground_insensitive_breeze #fa1bf8;
@define-color theme_hovering_selected_bg_color_breeze #fa1bf8;
@define-color theme_selected_bg_color_breeze #af15b4;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #35daff;
@define-color theme_titlebar_background_backdrop_breeze #000918;
@define-color theme_titlebar_background_breeze #000b1e;
@define-color theme_titlebar_background_light_breeze #000918;
@define-color theme_titlebar_foreground_backdrop_breeze #7640ff;
@define-color theme_titlebar_foreground_breeze #35daff;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #7640ff;
@define-color theme_titlebar_foreground_insensitive_breeze #7640ff;
@define-color theme_unfocused_base_color_breeze #000918;
@define-color theme_unfocused_bg_color_breeze #000918;
@define-color theme_unfocused_fg_color_breeze #fa1bf8;
@define-color theme_unfocused_selected_bg_color_alt_breeze #410948;
@define-color theme_unfocused_selected_bg_color_breeze #410948;
@define-color theme_unfocused_selected_fg_color_breeze #fa1bf8;
@define-color theme_unfocused_text_color_breeze #35daff;
@define-color theme_unfocused_view_bg_color_breeze #000917;
@define-color theme_unfocused_view_text_color_breeze #124e64;
@define-color theme_view_active_decoration_color_breeze #fa1bf8;
@define-color theme_view_hover_decoration_color_breeze #fa1bf8;
@define-color tooltip_background_breeze #000918;
@define-color tooltip_border_breeze #000b3a;
@define-color tooltip_text_breeze #0011c4;
@define-color unfocused_borders_breeze #320d45;
@define-color unfocused_insensitive_borders_breeze #110a26;
@define-color warning_color_backdrop_breeze #ff6a00;
@define-color warning_color_breeze #ff6a00;
@define-color warning_color_insensitive_backdrop_breeze #55290f;
@define-color warning_color_insensitive_breeze #55290f;
